    .carousel-inner {
        img {
            width: 100vw;
            height: 100%;
        }
        h1 {
            font-size: 6rem;
            color: black;
            position: absolute;
            top: -300px;
            padding-left: 2px;
            box-shadow: 5px 5px 5px 5px black;
            background-color: rgba(250, 235, 215, 0.568);
            color: #530b18;
        }
        p {
            font-size: 3rem;
            color: black;
            position: absolute;
            top: -220px;
            padding: 5px;
            box-shadow: 5px 5px 5px 5px black;
            background-color: rgba(250, 235, 215, 0.568);
            color: #530b18;
        }
        // Tablet
        @media screen and (min-width: 768px) and (max-width: 1024px) {
            p {
                display: none;
            }
            h1 {
                font-size: 4rem;
            }
        }
        @media screen and (max-width: 768px) {
            h1 {
                font-size: 2rem;
            }
        }
    }